<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cudt-details"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>insc-infos</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content _fullscreen class="cr-info ion-no-padding _bg-light ">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <span class="icon-doss-edit text-white text22"></span>    
    </ion-fab-button>
  </ion-fab>


  <ion-grid fixed class="ion-no-padding  header-card-fix box-shadow">
    <!-- <div class="overly-gradian">&nbsp;</div> -->
    <ion-row class="ion-no-padding ">
      <ion-col size="12" class="icon-header">
        <span class="icon-doss-patient text-white text22"></span>
      </ion-col>
      <ion-col size="12" class="title-header ion-no-padding">DÉTAILS DOSSIER</ion-col>
    </ion-row>
  </ion-grid>

  <!-- ------------------- -->

  <!-- <ion-grid class=" ion-margin-top ion-padding-top ">
    <ion-row>
      <ion-col size="12">
        <ion-card color="light">
          <ion-card-content class="text09 _ion-text-center ">
            <ion-list>            
              <ion-item>
                <ion-note> <span class="icon-man text-dark  text10"></span></ion-note>
                <ion-text>{{dataDossier['lastName']}} {{dataDossier['firstName']}}</ion-text>
              </ion-item>
            </ion-list>
            <ion-row class="ion-no-padding">
              <ion-col size="12" class="ion-no-padding">
                <span class="icon-man text-dark  text10"></span>
                {{dataDossier['lastName']}} {{dataDossier['firstName']}}
              </ion-col>
              <ion-col size="12" class="ion-no-padding">
                {{dataDossier['birthDayFr']}}
                <ion-chip outline color="secondary">
                  <ion-label class="bold">{{dataDossier['age']}} ans
                  </ion-label>
                </ion-chip>
              </ion-col>
              <ion-col size="12" class="ion-no-padding ">
                <ion-label>
                  <ion-badge class="p-6-16" slot="start" color="medium">DOSSIER N°: 2001-00035</ion-badge>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-grid class="  ion-margin-top">
    <ion-row>
      <ion-col size="12" class="ion-padding-top">

        <ion-card class="ion-margin ion-text-left" color="light">
          <ion-card-content>
           
            <ion-item class="ion-no-padding" >
              <ion-note>
                <span class="icon-cr text-dark  text17 "></span>
              </ion-note>
              <ion-text>
                <b>CURD :</b> HAI-ELBADRE
                <ion-label>
                  <ion-badge class=" ajust p-6-16" slot="start" color="medium">DOSSIER N°: 2001-00035</ion-badge>
                </ion-label>
              </ion-text>
            </ion-item>

            <!-- <ion-item class="ion-no-padding">
              <ion-badge slot="start" color="light"> <span class="icon-cr text-dark  text17 "></span></ion-badge>
              <ion-text ><h6><b>CURD :</b> HAI-ELBADRE</h6> </ion-text>
              <ion-badge  color="medium"> DOSSIER N°: 2001-00035 </ion-badge >
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-badge slot="start" color="light"> <span class="icon-file text-dark  _text17 "></span></ion-badge>
              <ion-badge  color="medium"> DOSSIER N°: 2001-00035 </ion-badge >
            </ion-item> -->

            <ion-item class="ion-no-padding">
              <ion-badge slot="start" color="light"><span class="icon-man  text-dark  _text10"></span></ion-badge>
              <ion-text> {{dataDossier['lastName']}} {{dataDossier['firstName']}}</ion-text>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-badge slot="start" color="light"> <span class="icon-calander  text-dark  _text10"></span></ion-badge>
              <ion-text>{{dataDossier['birthDayFr']}}</ion-text>
              <ion-badge class="ajust-age p-6-16" slot="end" color="none"> {{dataDossier['age']}} ans</ion-badge>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-badge slot="start" color="light"> <span class="icon-weight  text-dark  _text10"></span></ion-badge>
              <ion-text>{{dataDossier['weight'] + ' KG'}}</ion-text>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-badge slot="start" color="light"> <span class="icon-ecg-outline-box   text-dark  _text10"></span>
              </ion-badge>
              <ion-text> <b>STATUS :</b> {{dataDossier['diagnostic']['diagnostique']}}</ion-text>
            </ion-item>

            <ng-container *ngFor=" let ecg of dataDossier['ecgData']">
              <ion-item class="ion-no-padding" >
                <ion-button (click)="openImageEcg(ecg['ecgImage'])" color="danger" >
                  <ion-icon slot="icon-only" name="pulse"></ion-icon>
                </ion-button>
                <ion-text class="p-6-16">
                  {{ecg['createdAt']}}               
                </ion-text>
              </ion-item>


            
            </ng-container>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-list *ngFor ="let item of informations; let i = index " lines="full" detail="false">
          <ion-item  tappable (click) ='toogleSelection(i)' [ngClass]="{'section-active': item.open, 'section': !item.open}">
            
            <ion-icon slot="start" name="arrow-dropright" *ngIf="item.open"></ion-icon>
            <ion-icon slot="start"  name="arrow-dropdown" *ngIf="!item.open"></ion-icon>
            <ion-label>{{ item.name}}</ion-label>
          </ion-item>
          <div *ngIf="item.children && item.open" class="bg-light">
             
            <ion-list class="ion-no-margin ion-no-padding " color="none"   >
              <ion-item  *ngFor ="let child of item.children" lines="none" class="ion-no-padding" >
                <ion-text>{{ child.name}}</ion-text>
              </ion-item>
              
            </ion-list>
          </div>
        </ion-list>
      </ion-col>     
    </ion-row>
  </ion-grid>





</ion-content>