<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <!-- <ion-menu-button></ion-menu-button> -->
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <app-notification slot="end"></app-notification>
  </ion-toolbar>
  <ion-toolbar class=" ion-margin-top">

    <ion-segment class="ion-padding-top ion-padding-top" mode='md'>
      <ion-segment-button (ionSelect)="segmentButtonClicked('dEnvoyes')" checked="true" value=''>
        <span class="icon-dos-sent _text-dark  text15 "></span>
        <ion-label class="ion-text-wrap">Dossiers envoyés</ion-label>
        <!-- <ion-icon name=""><span class="icon-doctor-sos-21 text18"></span></ion-icon> -->
      </ion-segment-button>
      <ion-segment-button (ionSelect)="segmentButtonClicked('dEnCours')">
        <span class="icon-dos-pended _text-dark  text15 "></span>
        <ion-label class="ion-text-wrap">Demandes d'avis</ion-label>
        <!-- <ion-icon name=""><span class="icon-doctor-sos-21 text18"></span></ion-icon> -->
      </ion-segment-button>
    </ion-segment>

    <!-- Aucun dossiers-->

    <!-- <ion-list lines="none">
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/images/hand-pull.png" alt="pull down">
        </ion-avatar>

        <ion-label>
          <h2>Vous n'avez reçu acun dossier pour le moment.</h2>
          <p>Tirer pour rafraîchir la liste</p>
        </ion-label>
      </ion-item>
    </ion-list> -->


    <ng-container *ngIf='totalSending === 0'>
      <ion-list>
        <ion-item lines="none" class="item-empty ion-margin-top">
          <ion-avatar slot="end">
            <img src="assets/images/hand-pull.png" alt="pull down">
          </ion-avatar>
          <ion-text>
            Vous n'avez reçu acun dossier pour le moment,Tirer pour rafraîchir la liste
          </ion-text>

        </ion-item>
      </ion-list>
    </ng-container>


    <!-- -->
    <ng-container *ngIf='totalPending > 0'>

      <ion-item lines="none">

        <small class="cr-name"><b>{{ dossiersEnCours ? totalPending : totalSending}} </b>DOSSIERS EN COURS</small>
        <!-- toogle-->
        <ng-container *ngIf='this.dossiersEnCours'>
          <ion-note slot="end" class="ion-no-margin toggle-note ion-text-nowrap">
            <small class="cr-name">NON LUS</small>
            <ion-toggle mode="md" (click)="isFilttred(isToggleFiltter)" [(ngModel)]="isToggleFiltter"></ion-toggle>
          </ion-note>
        </ng-container>


        <!-- <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col size="8">
                  <small class="cr-name"><b>{{totalPending}} </b>DOSSIERS EN COURS</small>
                </ion-col>
                <ion-col size='4'>
                  <ion-text>Filttrer</ion-text>
                  <ion-toggle (click)="isFilttred(data.myToggle)" [(ngModel)]="data.myToggle"></ion-toggle>
                </ion-col>
              </ion-row>
            </ion-grid> -->

      </ion-item>


    </ng-container>

  </ion-toolbar>
</ion-header>
<!-- 
<div *ngIf="data.myToggle; then filtter else all "></div>
<ng-template #filtter>
  <p>Filttred Data</p>
</ng-template>
<ng-template #all>
  <p>All Data</p>
</ng-template>
-->




<ion-grid fixed class="ion-no-padding  header-card-fix box-shadow">
  <ion-row class="ion-no-padding ">
    <ion-col size="12" class="icon-header">
      <span class="icon-cr text-white text22"></span>
    </ion-col>
    <ion-col size="12" class="title-header ">{{nameEtab}} </ion-col>
  </ion-row>
</ion-grid>




<ion-content _fullscreen class="cudt-info ion-no-padding">


  <ng-container *ngIf="dossiersEnvoyes">

    <!-- REFRESH-->
    <ion-refresher slot="fixed" (ionRefresh)="doRefreshSending($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Tirer pour rafraîchir"
        refreshingSpinner="bubbles" refreshingText="Rafraîchir la liste...">
      </ion-refresher-content>
    </ion-refresher>
    <!-- REFRESH-->

    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="12" class="ion-no-padding">
          <ion-card class="list-CR">
            <ion-card-content class="text09 ion-no-padding ">
              <ion-list class="ion-no-padding">

                <ion-item detail lines="full" *ngFor="let item of dataDossiersSending" tappable
                  (click)="getDossier(item?.dossierId)">
                  <ion-avatar slot="start">
                    <ion-icon name="checkmark-circle"></ion-icon>
                    <span class="icon-doss-patient text-dark  text15">

                    </span>
                  </ion-avatar>
                  <ion-label class="ion-text-wrap">
                    <h2> {{item?.lastName}} {{item?.firstName}}</h2>
                    <!-- <small>DOSSIER N°: <b>{{getRandomNumber()}}</b> </small> -->
                    <small>AGE : {{item?.age}} Ans | {{item?.gender === '2'  ? 'Homme' : 'Femme'}}</small>
                    <small>CUDT : <b>{{item?.etabName}}</b> </small>
                  </ion-label>

                </ion-item>

              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ng-container>


  <ng-container *ngIf="dossiersEnCours">

    <!-- REFRESH-->

    <ion-refresher slot="fixed" (ionRefresh)="doRefreshPending($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Tirer pour rafraîchir"
        refreshingSpinner="bubbles" refreshingText="Rafraîchir la liste...">
      </ion-refresher-content>
    </ion-refresher>


    <!-- REFRESH-->


    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="12" class="ion-no-padding">
          <ion-card class="list-CR">
            <ion-card-content class="text09 ion-no-padding ">
              <ion-list class="ion-no-padding">


                <ion-item _detail lines="full" *ngFor="let item of listOfWaittingNotif" tappable>

                  <!-- <ion-item detail lines="full" *ngFor="let item of dataDossiersPending" tappable
                    (click)="getDossier(item.dossierId)"> -->

                  <ion-avatar slot="start"> <span class="icon-doss-patient text-dark  text15"></span></ion-avatar>
                  <ion-label class="ion-text-wrap">
                    <h2> {{item?.lastName}} {{item?.firstName}}</h2>
                    <!-- <small>DOSSIER N°: <b>{{getRandomNumber()}}</b> </small> -->
                    <small>AGE : {{item?.age}} Ans | {{item?.gender === '2'  ? 'Homme' : 'Femme'}}</small>
                    <small>CUDT : <b>{{item?.etabName}}</b> </small>
                    <div>

                      <div *ngFor=" let item of item['prevNotif']; let i = index; let l = count">
                        <!-- i : {{ i }} - count :{{ l }} -->

                        <div *ngIf="item?.motifId !== null ">
                          <div *ngIf="item?.motifId === 1 ">
                            <ion-icon name="checkmark-circle" [style.color]="'#f25454'"></ion-icon>
                          </div>
                          <div *ngIf="item?.motifId === 2 ">
                            <ion-icon name="checkmark-circle" [style.color]="'#02a1b3'"></ion-icon>
                          </div>
                          <div *ngIf="item?.motifId === 3 ">
                            <ion-icon name="checkmark-circle" [style.color]="'#516bf0'"></ion-icon>
                          </div>
                        </div>

                        <div *ngIf="item?.motifId === null ">
                          <ion-icon name="checkmark-circle" [style.color]="'#bfced0'"></ion-icon>
                        </div>

                      </div>


                    </div>
                  </ion-label>
                  <!-- <p>{{item['motifId'].length}}</p> -->
                  <!-- Boutton Avis doctor  -->
                  <ion-button Fill='clear' shape='round' slot="end" class="icon-avis" tappable
                    (click)="actionSheetSetDoctorReview(item?.lastDemandeId ,  item?.lastMotifId )" type="button"
                    disabled="{{item?.lastMotifId === 0 ? true : false }}">
                    <span class="icon-doctor-sos-2 status-avis" [ngClass]="{ 
                    'notif-none':item?.lastMotifId === 0,
                    'notif-sos':item?.lastMotifId=== 1,
                    'notif-thrombolyse':item?.lastMotifId === 2,
                    'notif-sendding':item?.lastMotifId === 3 }" tappable></span>
                  </ion-button>


                  <!-- Boutton détails dossier   -->
                  <ion-icon name="arrow-forward" class=" arrow" mode='ios' slot="end"
                    (click)="getDossier(item?.dossierId)"></ion-icon>
                  <!--  /////////////////  -->

                </ion-item>

              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ng-container>




</ion-content>