<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class=" ion-margin-top">

    <ion-segment class="ion-padding-top ion-padding-top" mode='md'>
      <ion-segment-button (ionSelect)="segmentButtonClicked('dEnvoyes')" checked="true" value=''>
        <span class="icon-dos-sent _text-dark  text15 "></span>
        <ion-label class="ion-text-wrap">Dossiers envoyés</ion-label>
        <!-- <ion-icon name=""><span class="icon-doctor-sos-21 text18"></span></ion-icon> -->
      </ion-segment-button>
      <ion-segment-button (ionSelect)="segmentButtonClicked('dEnCours')">
        <span class="icon-dos-pended _text-dark  text15 "></span>
        <ion-label class="ion-text-wrap">Demandes d'avis</ion-label>
        <!-- <ion-icon name=""><span class="icon-doctor-sos-21 text18"></span></ion-icon> -->
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-grid fixed class="ion-no-padding  header-card-fix box-shadow">
  <ion-row class="ion-no-padding ">
    <ion-col size="12" class="icon-header">
      <span class="icon-cr text-white text22"></span>
    </ion-col>
    <ion-col size="12" class="title-header ion-no-padding">CENTRE :{{nameEtab}}</ion-col>
  </ion-row>
</ion-grid>




<ion-content _fullscreen class="cudt-info ion-no-padding">


  <ng-container *ngIf="dossiersEnvoyes">

    <!-- REFRESH-->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Tirer pour rafraîchir"
        refreshingSpinner="circles" refreshingText="Rafraîchir la liste...">
      </ion-refresher-content>
    </ion-refresher>
    <!-- REFRESH-->

    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="12" class="ion-no-padding">
          <ion-card class="list-CR">
            <ion-card-content class="text09 ion-no-padding ">
              <ion-list class="ion-no-padding">

                <ion-item [ngClass]="{ 'item-empty':lnSending === 0 }">
                  <small class="cr-name"><b>{{totalSending}}</b> DOSSIERS ENVOYÉS</small>
                </ion-item>

                <ion-item detail lines="full" *ngFor="let item of dataDossiersSending" tappable
                  (click)="getDossier(item.dossierId)">


                  <ion-avatar slot="start">
                    <ion-icon name="checkmark-circle"></ion-icon>
                    <span class="icon-doss-patient text-dark  text15">

                    </span>
                  </ion-avatar>
                  <ion-label class="ion-text-wrap">
                    <h2> {{item.lastName}} {{item.firstName}}</h2>
                    <!-- <small>DOSSIER N°: <b>{{getRandomNumber()}}</b> </small> -->
                    <small>AGE : {{item.age}} Ans | {{item.gender === '2'  ? 'Homme' : 'Femme'}}</small>
                    <small>CUDT : <b>{{item.etabName}}</b> </small>
                  </ion-label>

                </ion-item>

              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ng-container>


  <ng-container *ngIf="dossiersEnCours">

    <!-- REFRESH-->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Tirer pour rafraîchir"
        refreshingSpinner="circles" refreshingText="Rafraîchir la liste...">
      </ion-refresher-content>
    </ion-refresher>
    <!-- REFRESH-->


    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="12" class="ion-no-padding">
          <ion-card class="list-CR">
            <ion-card-content class="text09 ion-no-padding ">
              <ion-list class="ion-no-padding">

                <ion-item [ngClass]="{ 'item-empty':lnPending === 0 }">
                  <small class="cr-name"><b>{{totalPending}} </b>DOSSIERS EN COURS</small>
                </ion-item>


                <ion-item _detail lines="full" *ngFor="let item of listOfWaittingNotif" tappable>

                  <!-- <ion-item detail lines="full" *ngFor="let item of dataDossiersPending" tappable
                    (click)="getDossier(item.dossierId)"> -->

                  <ion-avatar slot="start"> <span class="icon-doss-patient text-dark  text15"></span></ion-avatar>
                  <ion-label class="ion-text-wrap">
                    <h2> {{item.lastName}} {{item.firstName}}</h2>
                    <!-- <small>DOSSIER N°: <b>{{getRandomNumber()}}</b> </small> -->
                    <small>AGE : {{item.age}} Ans | {{item.gender === '2'  ? 'Homme' : 'Femme'}}</small>
                    <small>CUDT : <b>{{item.etabName}}</b> </small>
                    <div>   
                      
                      <div *ngFor=" let item of item['prevNotif']; let i = index; let l = count">
                        <!-- i : {{ i }} - count :{{ l }} -->

                        <div *ngIf="item.motifId !== null ">
                          <div *ngIf="item.motifId === 1 ">
                            <ion-icon name="checkmark-circle" [style.color]="'#f25454'"></ion-icon> 
                          </div>
                          <div *ngIf="item.motifId === 2 ">
                            <ion-icon name="checkmark-circle" [style.color]="'#02a1b3'"></ion-icon> 
                          </div>
                          <div *ngIf="item.motifId === 3 ">
                            <ion-icon name="checkmark-circle" [style.color]="'#516bf0'"></ion-icon> 
                          </div>
                        </div>
                        
                        <div *ngIf="item.motifId === null ">
                          <ion-icon name="checkmark-circle" [style.color]="'#bfced0'"></ion-icon>
                        </div> 

                      </div>

                      <!-- <div *ngFor=" let item of item['prevNotif']; let i = index; let l = count">
                        i : {{ i }} - count :{{ l }}

                        <div *ngIf="item?.motifId ">

                          <div [ngSwitch]="item?.motifId">
                            <div *ngSwitchCase="1">
                              <ion-icon name="checkmark-circle" [style.color]="'#f25454'"></ion-icon>
                            </div>
                            <div *ngSwitchCase="2">
                              <ion-icon name="checkmark-circle" [style.color]="'#02a1b3'"></ion-icon>
                            </div>
                            <div *ngSwitchCase="3">
                              <ion-icon name="checkmark-circle" [style.color]="'#516bf0'"></ion-icon>
                            </div>
                            <div *ngSwitchDefault>
                              <ion-icon name="checkmark-circle" [style.color]="'#bfced0'"></ion-icon>
                            </div>
                          </div>
                        </div>
                        
                        <div *ngIf="item.motifId === null ">
                          <ion-icon name="checkmark-circle" [style.color]="'#bfced0'"></ion-icon>
                        </div>

                      </div> -->






                      <!-- checkmarkColors[i] -->

                      <!-- 
                      <ion-icon name="checkmark-circle"
                        [style.color]="item['prevNotif'][0] !== undefined && item['prevNotif'][0]['motifId'] === 1 ? '#f25454': '#bfced0'">
                      </ion-icon>
                      
                      <ion-icon name="checkmark-circle"
                        [style.color]="item['prevNotif'][1] !== undefined && item['prevNotif'][1]['motifId'] === 2 ? '#02a1b3': '#bfced0'">

                      </ion-icon>
                      
                      <ion-icon name="checkmark-circle"
                        [style.color]="item['prevNotif'][2] !== undefined && item['prevNotif'][2]['motifId'] === 3 ? '#516bf0': '#bfced0'">
                      </ion-icon>
                        -->
                    </div>
                  </ion-label>
                  <!-- <p>{{item['motifId'].length}}</p> -->
                  <!-- Boutton Avis doctor  -->
                  <ion-button Fill='clear' shape='round' slot="end" class="icon-avis" tappable
                    (click)="actionSheetSetDoctorReview(item['lastDemandeId'] ,  item['lastMotifId'])" type="button"
                    disabled="{{item['lastMotifId'] === 0 ? true : false }}">
                    <span class="icon-doctor-sos-2 status-avis" [ngClass]="{ 
                    'notif-none':item['lastMotifId'] === 0,
                    'notif-sos':item['lastMotifId']=== 1,
                    'notif-thrombolyse':item['lastMotifId'] === 2,
                    'notif-sendding':item['lastMotifId'] === 3 }" tappable></span>
                  </ion-button>


                  <!-- Boutton détails dossier   -->
                  <ion-icon name="arrow-forward" mode='ios' slot="end" (click)="getDossier(item.dossierId)"></ion-icon>
                  <!--  /////////////////  -->

                </ion-item>

              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ng-container>




</ion-content>