<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cudt-list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content _fullscreen class="cudt-info ion-no-padding">





  <ion-grid fixed class="ion-no-padding  header-card-fix box-shadow">
    <ion-row class="ion-no-padding ">
      <ion-col size="12" class="icon-header">
        <span class="icon-cudt text-white text22"></span>
      </ion-col>
      <ion-col size="12" class="title-header ion-no-padding">CUDT MUSTAPHA BACHA</ion-col>
    </ion-row>
  </ion-grid>


  <!-- Default Segment -->
  <!-- <ion-list-header></ion-list-header> -->

  <!-- Label only -->
  <ion-segment class="ion-padding-top ion-margin-top">
    <ion-segment-button (ionSelect)="segmentButtonClicked('dEnCours')" checked="true" value=''>
      <ion-label>Dossiers en cours</ion-label>
    </ion-segment-button>
    <ion-segment-button (ionSelect)="segmentButtonClicked('dEnvoyes')">
      <ion-label>Dossiers envoyés</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="dossiersEnCours">
    <ion-grid class=" ion-margin-top ion-padding-top  ">
      <ion-row>
        <ion-col size="12">
          <ion-card class="list-CR" color="light">
            <ion-card-content class="text09 ion-no-padding ">
              <ion-list class="ion-no-padding">

                <ion-item-divider class="box-shadow divider-pended">
                  <ion-label class="p-10-0">
                    <span class="icon-dos-pended text-dark  text17 "></span>
                    <b class="text-gray500 text10"> DOSSIERS EN COURS</b>
                  </ion-label>
                </ion-item-divider>
                <ion-item>
                  <small class="cr-name"><b>{{dataDossiers['encours'].length}} </b>DOSSIERS EN COURS</small>
                </ion-item>


                <ion-item detail lines="full" *ngFor="let item of dataDossiers['envoyee']" tappable
                  (click)="selectCudt(item.etabId)">
                  <ion-avatar slot="start"> <span class="icon-doss-patient text-dark  text15"></span></ion-avatar>
                  <ion-label class="ion-text-wrap">
                    <h2> {{item.lastName}} {{item.firstName}}</h2>
                    <small> {{item.birthDayFr}} </small>
                    <small> STATUS :<b>{{item.diagnostic}}</b> </small>

                  </ion-label>
                </ion-item>

              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ng-container>

  <ng-container *ngIf="dossiersEnvoyes">

    <ion-grid class=" ion-margin-top ion-padding-top  ">
      <ion-row>
        <ion-col size="12">
          <ion-card class="list-CR" color="light">
            <ion-card-content class="text09 ion-no-padding ">
              <ion-list class="ion-no-padding">

                <ion-item-divider class="box-shadow divider-sent" >
                  <ion-label class="p-10-0">
                    <span class="icon-dos-sent text-dark  text17 "></span>
                    <b class="text-gray500 text10"> DOSSIERS ENVOYES</b>
                  </ion-label>
                </ion-item-divider>
                <ion-item>
                  <small class="cr-name"><b>{{dataDossiers['envoyee'].length}}</b> DOSSIERS ENVOYES</small>
                </ion-item>


                <ion-item detail lines="full" *ngFor="let item of dataDossiers['encours']" tappable
                  (click)="selectCudt(item.etabId)">
                  <ion-avatar slot="start"> <span class="icon-doss-patient text-dark  text15"></span></ion-avatar>
                  <ion-label class="ion-text-wrap">
                    <h2> {{item.lastName}}  {{item.firstName}}</h2>
                    <small> {{item.birthDayFr}} </small>
                    <small>STATUS : <b>{{item.diagnostic}}</b> </small>

                  </ion-label>
                </ion-item>

              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ng-container>


</ion-content>