:host {
  ion-fab {
    //  top: -8px;
    bottom: 22px;
    ion-fab-button {
      span {
        font-size: 1.8rem;
        padding: 0;
        margin: 0;
      }
      // ion-icon {
      //   padding: 0;
      //   margin: 0;
      //   width: 0px;
      // }
    }
  }

  ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
  }
  /* Remove bottom border on md */
  .header-md::after {
    background-image: none;
  }

  /* Remove bottom border on ios */
  .header-ios ion-toolbar:last-child {
    --border-width: 0;
  }
  ion-content {
    // --background: #ecf0f4;
    --background: #f7f9fb;
  }
  .ion-bt-padding {
    --padding-start: 5px;
    --padding-end: 5px;
    width: 42px;
  }
  ion-icon.i-card {
    color: #929eaa;
  }

  ion-avatar {
    text-align: center;
    width: auto;
    height: auto;
  }
  /*
    //---- Button gradian -----
    ion-button {
      --border: none;
      --border-radius: 24px;
      
      --background: #3853de;
      --background: linear-gradient(500deg, #3853de 0%, #0d9bc3 60%, #32ca8d);
  
         }
  
    ion-button.md.button.button-medium.button-solid.ion-activatable.ion-focusable.hydrated {
      height: 80px;
    }
    ion-button.ios.button.button-medium.button-round.button-solid.ion-activatable.ion-focusable.hydrated {
      min-height: 80px;
    }
    */

  ion-card {
    background-color: #ffffff;
    margin: 16px 8px;
    ion-col {
      padding: 2px 2px;
    }
  }
  ion-card-content {
    ion-card-header{
      padding: 8px 0;
      ion-card-title{
        font-size: 1rem;
      }
      ion-card-subtitle{
        margin-top: 0;
        color: #b6c7d8;
      }
    }
    
    ion-badge {
      padding-left: 0;
      margin-right: 12px;
      background-color: transparent;
      &.ajust {
        padding-right: 16px;
        background-color: #e3e6e9;
        color: #03386d;
      }
      &.ajust-age {
        padding-right: 16px;
        background-color: #e3e6e9;
      }
    }
    ion-text {
      font-size: 0.85rem;
    }
  }

  ion-list {
    --background: #d3dde6;
    padding: 0;
    ion-icon {
      margin-right: 10px;
    }
    ion-list {
      ion-item-divider {
        padding: 0;
        --background: #d3dde6;
        // color: #446586;
        //background-color: #eff2f7;
        color: #435667;

        h6 {
          display: block;
          font-weight: 600;
          font-size: 0.95em;
          text-align: center;
          text-transform: uppercase;
          // padding: 12px 0 0;
          padding: 4px 0 8px 0;
          width: 100%;

        }
      }
      ion-item {
        padding: 0;
        margin: 0;
        --padding-start: 20px;
        --background: #ecf0f4;
        ion-label {
          //text-transform: uppercase;
          font-size: 0.9rem;
          font-weight: 500;
          --padding-bottom: 0;
          --margine-top: 0;
        }
        // &.item-empty{
        //   height: 150px;
        // }
        ion-button {
          margin: 0 8px 0 0;
        }
        ion-text {
          font-size: 0.85rem;
        }
      }
    }
  }

  // ion-item-divider {
  //   height: 62px;
  //   border-bottom: 2px solid #4fccda;
  //   margin-bottom: 5px;
  //   background: #ecf0f4;
  //   ion-label {
  //     margin: 10px 0px;
  //     //padding: 0 10px 10px 0;
  //   }
  // }

  .dossier-info {
    margin-top: 24px;
    // background-color: #f1f2f3;
    .sized-box {
      height: 92px;
    }

    small {
      color: #7a839e;
      b {
        color: #0f98c4;
      }
    }
  }
}

// --------------------------------

.pretreatment-infos {
  background-color: #ecf0f4;

  ion-list {
    --background: transparent;
  }

  ion-item {
    --padding-start: 5px !important;

    &.sign {
      --background: #d3dde8!important;
    --padding-start: 20px!important;
    --inner-padding-bottom: 16px;
    --inner-padding-top: 16px;
    --inner-padding-end: 20px;
    }
  }

  ion-card {
    margin: 8px 8px;
  }

  ion-card-header {
    padding: 0 8px !important;
    ion-card-title {
      color: #0d9bc3;
      span {
        display: inline-block;
        color: #4d5867;
        /* width: 42px; */
        float: left;
        padding-right: 8px;
      }
      h6 {
        text-transform: uppercase;
        text-align: left;
        margin: 16px 0 4px 0;
        font-size: 14px;

      }
    }
  }

  ion-card-content {
    //padding: 10px 24px 10px 10px;
    padding: 10px;
    ion-item {
      --background: #47525d;
    }

    ion-note {
      font-size: 0.85rem;
      display: block;
      //padding: 12px 5px;
      padding: 14px 5px;
      font-weight: 500;
      color: #47525d;
      display: block;

      &.note {
        padding: 16px 5px;
      }
      small {
        display: block;
      }
    }
  }

  ion-list.info ion-note {
    font-size: 0.9em;
    margin: 0;
    padding-left: 0;
  }
  ion-list.info ion-label {
    font-size: 0.9rem;
  }
}
