<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content _fullscreen class="cr-info ion-no-padding _bg-light ">
  <ion-grid fixed class="ion-no-padding  header-card-fix box-shadow">    
    <ion-row class="ion-no-padding ">
      <ion-col size="12" class="icon-header">
        <span class="icon-cr text-white text22"></span>
      </ion-col>
      <ion-col size="12" class="title-header ion-no-padding">CENTRE DE RÉFÉRENCE</ion-col>
    </ion-row>
  </ion-grid>

  <!-- ------------------- -->

  <ion-grid class=" ion-margin-top ion-padding-top  ">
    <ion-row class=" ion-margin-top" >
      <ion-col size="12">
        <ion-card class="list-CR" color="light">
          <ion-card-content class="text09 ion-no-padding ">
            <ion-list class="ion-no-padding">

              <ion-item-divider class="box-shadow">
                <ion-label class="p-10-0">
                  <span class="icon-cr text-dark  text17 "></span>
                  <b class="text-gray500 text10"> CR MUSTAPHA BACHA</b>
                </ion-label>
              </ion-item-divider>
              <ion-item [ngClass]="{ 'item-empty':lnCudtList=== 0 }">
                <small class="cr-name"><b>{{lnCudtList}}</b> CUDT(S)EN RELATION</small>
              </ion-item>

              <ion-item detail lines="full" *ngFor="let item of itemsCR" tappable (click)="selectCudt(item.etabId)">
                <ion-avatar slot="start"> <span class="icon-cudt  text-dark  text16"></span></ion-avatar>
                <ion-label class="ion-text-wrap"> 
                  <h2> {{item.etabName}}</h2>
                  <small><b>4</b> dossiers en cours</small>
                </ion-label>
              </ion-item>

            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>